.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  display: flex;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
}

.main-content {
  flex: 1;
  margin-left: 240px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 60px);
}